@import '../function.scss';

.skill {
  background: linear-gradient(140deg, var(--accent-one) 40%, var(--accent-two) calc(40% + 1px));
  padding: calculateRem(24);

  h3 {
    color: var(--header);
    font-size: calculateRem(18);
    font-weight: bold;
    margin-bottom: calculateRem(20);
    display: flex;
    align-items: center;
  }

  svg {
    fill: var(--primary);
    margin-right: calculateRem(12);
  }

  @include paragraphs;
}
