@import '../function.scss';

.container {
  padding: calculateRem(30);
  @include animate-setup(100);
}

.container-visible {
  composes: container;
  @include animate-show;
}

.skills {
  div {
    margin-bottom: calculateRem(28);
  }
}

.title {
  @include title;
}

.text {
  @include paragraphs;
}

.skill-title {
  font-size: calculateRem(16);
  font-weight: bold;
  margin-top: calculateRem(35);
  margin-bottom: calculateRem(10);
  color: var(--header);
}

@media only screen and (min-width: 768px) {
  .container {
    width: calculateRem(720);
    margin: 0 auto;
  }

  .info {
    display: flex;

    .text {
      order: 2;
    }

    .charts {
      order: 1;
      flex: 1 0 60%;
      padding-right: calculateRem(40);
    }

    .skill-title:first-of-type {
      margin-top: 0;
    }
  }

  .skills {
    display: flex;

    //TODO: must be a better way to add margin. Grid?
    .skills-container {
      margin-left: calculateRem(12);
      margin-right: calculateRem(12);
    }

    .skills-container:first-of-type {
      margin-left: 0;
    }

    .skills-container:last-of-type {
      margin-right: 0;
    }
  }
}


@media only screen and (min-width: 992px) {
  .container {
    min-width: 992px;
    max-width: 1024px;
  }
}
