@import '../components/function.scss';

.error {
  text-align: center;
  margin-top: 6rem;

  h1 {
    color: var(--header);
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  p {
    color: var(--text);
  }

  a {
    color: var(--text);
    font-weight: bold;
  }
}
