@import "../function.scss";

.menu-container {
  background: var(--button);
  border-radius: 0 0 0 100%;
  height: calculateRem(80);
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.2s ease-in-out;
  width: calculateRem(80);
  z-index: 3000;
}

.menu-container-active {
  composes: menu-container;
  width: 100%;
  height: 100%;
  border-radius: 0 0 0 0;
  top: 0;
}

.menu-button {
  background: transparent;
  border-radius: 0 0 0 100%;
  border: 0;
  bottom: 0;
  cursor: pointer;
  display: block;
  height: calculateRem(80);
  margin: 0;
  outline: 0;
  padding: calculateRem(10);
  position: absolute;
  right: 0;
  top: 0;
  width: calculateRem(80);
}

.menu-icon {
  background: #fff;
  display: block;
  height: calculateRem(2);
  position: absolute;
  right: calculateRem(18);
  top: calculateRem(30);
  transform-origin: center;
  transition: 0.5s ease-in-out;
  width: calculateRem(30);

  &::after,
  &::before {
    transition: 0.5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
  }

  &::after {
    bottom: calculateRem(-10);
  }

  &::before {
    top: calculateRem(-10);
  }
}

.menu-icon-active {
  composes: menu-icon;
  transform: rotate(45deg);

  &::after {
    transform: rotate(90deg);
    bottom: 0;
  }

  &::before {
    transform: rotate(90deg);
    top: 0;
  }
}

.nav {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-top: calculateRem(80);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;

  li {
    text-align: center;
  }

  a {
    color: #fff;
    text-decoration: none;
    padding: calculateRem(15) calculateRem(10);
    display: inline-block;
    font-weight: bold;
    position: relative;

    @include link-style(-8);
  }
}

.nav-active {
  composes: nav;
  transition-delay: 0.2s;
  opacity: 1;
  visibility: visible;
}

.logo {
  display: none;
}

.name {
  display: none;
}

@media only screen and (min-width: 768px) {
  .container {
    @include animate-setup(-50);
  }

  .container-visible {
    composes: container;
    @include animate-show;
  }

  .menu-container {
    align-content: stretch;
    align-items: center;
    background: var(--bg);
    border-radius: 0;
    box-shadow: 0px calculateRem(2) calculateRem(4) #6363630e;
    display: flex;
    height: calculateRem(80);
    justify-content: space-between;
    padding: 0 calculateRem(32);
    position: static;
    right: 0;
    top: 0;
    transition: none;
    width: 100%;
  }

  .menu-button {
    display: none;
  }

  .nav {
    opacity: 1;
    visibility: visible;
    margin: 0;
    display: flex;
    font-size: 0;

    li {
      margin: 0;
    }

    a {
      color: var(--primary);
      margin: 0;
      padding: 4px;
      text-transform: uppercase;
      font-size: calculateRem(14);
      line-height: calculateRem(14);
      font-weight: 600;
      margin-left: calculateRem(30);
      transition: color 0.2s ease-out;

      &:focus {
        background-color: var(--focus);
        border-radius: calculateRem(3);
        outline: none;
        color: #fff;
      }

      &:active {
        background-color: var(--button);
      }
    }
  }

  .logo {
    display: inline-block;
    width: calculateRem(54);
    height: calculateRem(54);
  }

  .logo-background {
    fill: #202026;
  }
}

@media only screen and (min-width: 992px) {
  .name {
    display: block;
    flex: 1;
    font-size: calculateRem(26);
    text-transform: uppercase;
    color: var(--header);
    padding-left: calculateRem(16);
    transition: color 0.2s ease-out;
  }
}
