@import "function.scss";

.footer {
  div {
    text-align: center;
    font-size: calculateRem(12);
    color: var(--text);
    margin: calculateRem(32) 0 calculateRem(80);
  }
}

.footer-links {
  text-align: center;
  margin-top: calculateRem(50);

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    margin-bottom: calculateRem(18);
  }

  a {
    text-transform: uppercase;
    font-size: calculateRem(14);
    font-weight: 600;
    padding: calculateRem(4);
    color: var(--primary);
    text-decoration: none;
    position: relative;

    @include link-style(-6);

    &:focus {
      background-color: var(--focus);
      border-radius: calculateRem(3);
      outline: none;
      color: #fff;
    }

    &:active {
      background-color: var(--button);
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer-links {
    ul {
      display: flex;
      justify-content: center;
    }

    li {
      margin: 0 calculateRem(16);
    }
  }
}
