@import "../function.scss";

.container {
  text-decoration: none;

  &:focus {
    outline: 3px solid var(--focus);
    outline-offset: 2px;
  }

  &:active {
    outline: none;
  }
}

.post {
  background-color: var(--bg);
  padding: calculateRem(20);
  text-align: center;
  transition: all 0.3s;

  &:hover {
    box-shadow: inset 0px 0px 0px calculateRem(3) var(--primary);
  }

  .link {
    font-size: calculateRem(20);
    font-weight: normal;
    color: var(--primary);
  }

  .separator {
    display: block;
    height: calculateRem(4);
    background-color: var(--accent-one);
    margin: calculateRem(12) calculateRem(40);
  }

  .time {
    color: var(--text);
    font-size: calculateRem(13);
    margin-bottom: calculateRem(26);
  }
}
